.chanels {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: #1e1f22;
  height: 100%;
  min-width: 72px;
}
.chanels::-webkit-scrollbar {
  width: 0px;
}

.groupChanelsOne {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home {
  display: flex;
  height: 40px;
  width: 4px;
  background-color: #f2f3f5;
  margin-top: 10px;
  border-radius: 0px 5px 5px 0px;
}

.hoverChannel { display: flex; }

.wherechannel {
  display: flex;
  height: 20px;
  width: 4px;
  margin-top: 14px;
  border-radius: 0px 5px 5px 0px;
}

.directMsg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.directMsg:focus {
  top: 1px;
}

.groupChanelsTwo {
  width: 100%;
}

.logoDiscord {
  position: relative;
  cursor: pointer;
  background-color: #15610d;
  height: 48px;
  width: 48px;
  margin-top: 12px;
  border-radius: 16px;
}


.logoChanels {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #212327b0;
  border: #15610d 1px solid;
  color: #fff;
  height: 48px;
  width: 48px;
  border-radius: 180px;
  margin-bottom: 10px;
  transition: 0.1s;
  font-size: 24px;
  font-weight: 600;
}

.logoChanels:hover {
  height: 50px;
  width: 50px;
  margin-bottom: 8px;
  box-shadow: 0px 0px 2px 1px #15610d;
  animation: boxShadow 1.5s;
}

@keyframes boxShadow {
  100% {
    transform: rotateZ(360deg)
  }
}

.funcChanels {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #15610d;
  background-color: #313338;
  height: 48px;
  width: 48px;
  border-radius: 180px;
  margin-bottom: 8px;
}

#explorer {
  margin-bottom: 2px;
}

.funcChanels:hover {
  background-color: #15610d;
  color: #e9ecef;
  border-radius: 16px;
}

#divHr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 100%;
}

#hr {
  width: 32px;
  border-top: 2px solid #8b9098;
  border-radius: 2px;
}


