* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* font-family: "gg sans","Noto Sans","Helvetica Neue", Helvetica, Arial, sans-serif; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#main {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: none;
}
